
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/Organization">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>WEBGIS to NCEP/NCAR</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">


  <link href="{% static 'css/bokeh.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/bokeh-widgets.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/geoviews.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/bokeh-widgets.min.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/bokeh-tables.css' %}" rel="stylesheet" type="text/css">

  <link href="{% static 'css/bokeh-tables.min.css' %}" rel="stylesheet" type="text/css">

  <script src="{% static 'js/bokeh.min.js' %}"></script>
  <script src="{% static 'js/bokeh-gl.min.js' %}"></script>
  <script src="{% static 'js/bokeh-widgets.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

  

</head>
<style>

  .container6 {
height: 32em;
display: flex;
align-items: center;
justify-content: center }
.container6 p {
margin: 0 }

    </style>

{% block custom_css %}

{% endblock %}


<body>

  {% block content%}

  {% endblock %}
  

  <script>var basePath = "/site/";</script>
  <script data-main="#" src="{% static 'js/require.min.js' %}"></script>
</body>
</html>